<!--
  Copyright 2016 Google, Inc.

  Licensed to the Apache Software Foundation (ASF) under one or more contributor
  license agreements. See the NOTICE file distributed with this work for
  additional information regarding copyright ownership. The ASF licenses this
  file to you under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->
<script>



function check()
{




var title = document.event.eventTitle.value;

var desc = document.event.eventDesc.value;



var pass_check = document.event.pass_check.value;





if(document.event.semester0.checked)
{
var isSemesterChecked = true;
}
else if(document.event.semester1.checked)
{
var isSemesterChecked = true;
}
else if(document.event.semester2.checked)
{
var isSemesterChecked = true;
}
else if(document.event.semester3.checked)
{
var isSemesterChecked = true;
}
else if(document.event.semester4.checked)
{
var isSemesterChecked = true;
}
else if(document.event.semester5.checked)
{
var isSemesterChecked = true;
}




if(document.event.department0.checked)
{
var isDepartmentChecked = true;
}
else if(document.event.department1.checked)
{
var isDepartmentChecked = true;
}
else if(document.event.department2.checked)
{
var isDepartmentChecked = true;
}
else if(document.event.department3.checked)
{
var isDepartmentChecked = true;
}
else if(document.event.department4.checked)
{
var isDepartmentChecked = true;
}
else if(document.event.department5.checked)
{
var isDepartmentChecked = true;
}











if(title.length < 1)
{

  alert('Enter the Event Title.');
}
else if (desc.length < 1) {
    alert('Enter the Event Description.');
}
else if (pass_check.length < 1) {
    alert('Confirm the password.');
}






else if (!isDepartmentChecked) {
  alert('Choose Atleast one Department')
}

else if (!isSemesterChecked) {
  alert('Choose Atleast one Semester');

}
else{

  // document.getElementById('create').click();
  //   window.location.href = "/annonuncementViewerPage";

  document.getElementById('info').value = "yourValueHere";

isInformationAvailable =  document.event.information.value;


}


}

</script>
<div class="mdl-grid">


  <!-- Show spreadsheets -->
  <section id="spreadsheets2"
           class="mdl-cell mdl-cell--4-col relative">
    <div class="mdl-list">
      <div class="mdl-list__item">


        <form method="post" action="/announcementWriteCheck" name='event'>

    <input type='text' placeholder="Event Title"     id="mySelect" name='eventTitle'/><br>
    <input type='text' placeholder="Event Description"   id="mySelect" name='eventDesc'><br>

    <input type='password' placeholder="Confirm Password"   id="mySelect" name='pass_check'><br>
    <br>
    Department(s) Concerned:<br>
    <input type="checkbox" name="department0" value="Art"  id="mySelect">Art<br>
    <input type="checkbox" name="department1" value="Commerce"  id="mySelect">Commerce<br>
    <input type="checkbox" name="department2" value="Management"  id="mySelect">Management<br>
    <input type="checkbox" name="department3" value="Education"  id="mySelect">Education<br>
    <input type="checkbox" name="department4" value="Science"  id="mySelect">Science<br>
    <input type="checkbox" name="department5" value="Other"  id="mySelect">Other<br>

    <br>


    Semesters(s) Concerned:<br>
    <input type="checkbox" name="semester0" value="First Semester"  id="mySelect">First Semester<br>
    <input type="checkbox" name="semester1" value="Second Semester"  id="mySelect">Second Semester<br>
    <input type="checkbox" name="semester2" value="Third Semester"  id="mySelect">Third Semester<br>
    <input type="checkbox" name="semester3" value="Fourth Semester"  id="mySelect">Fourth Semester<br>
    <input type="checkbox" name="semester4" value="Fifth Semester"  id="mySelect">Fifth Semester<br>
    <input type="checkbox" name="semester5" value="Sixth and Above Semesters"  id="mySelect">Sixth and Above Semesters<br>

    <br>

    <input type='text' name='information' value='false'  id='info'>
<input type="button" value="Submit"  onclick="check()"  >

            <input type="submit" value="Submit" id='hangoutButtonId'  style="visibility:collapse;"   >
        </form>
        <br><br>
      <span class="mdl-list__item-secondary-action" style="position:relative; ">

        <button  class="mdl-button mdl-js-button mdl-button--raised
                       mdl-js-ripple-effect mdl-button--colored"
                rel="writeAnnouncement" type="button" id='create'  style="position:relative;">Create</button>


</button>
      </span>
      </div>
      {{#each spreadsheets}}
      <div class="mdl-list__item">


      </div>
      {{/each}}
    </div>
  </section>
</div>
