<!doctype html>
<html>
<head>
<style>
td
{
	padding-top:10px;
}

</style>
<meta charset="utf-8">
<title>Untitled Document</title>

</head>

<body>
<font face="Roboto">
<div style="padding-right:3%;padding-left:3%;margin-top:5%">
<div align="center"><font color="#3f8acd" size="6"><span id = 'title'></span></font>
	<div align="center"><font color="#3f8acd" size="4"><span id = 'fullName'></span></font>
<br>

</div>
<br>

<font size="3">
	<p align="left" id='description' style="line-height: 200%;">
	</p>
</div>
</font>

</div>
</font>
</body>
<script>


var sortedTitle = localStorage.getItem("sortedTitle")
var sortedDescription =localStorage.getItem("sortedDescription")

var sortedFullName =localStorage.getItem("sortedFullName")
 document.getElementById("title").innerHTML = sortedTitle;
 document.getElementById("description").innerHTML = sortedDescription;
 document.getElementById("fullName").innerHTML = sortedFullName;
</script>
</html>
