<!--
  Copyright 2016 Google, Inc.

  Licensed to the Apache Software Foundation (ASF) under one or more contributor
  license agreements. See the NOTICE file distributed with this work for
  additional information regarding copyright ownership. The ASF licenses this
  file to you under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->


<style>

* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
body 				 { background:url(https://scotch.io/wp-content/uploads/2014/07/61.jpg); }

h2 		 {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
  background-color: #e7f0f9;
  font-weight:450;
}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#3f8acd;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#3f8acd;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}

select 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
    background-color: #e7f0f9;
    color:#4489c8;
    font-weight: 450;

}
select:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
select:focus ~ label, select:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#3f8acd;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#3f8acd;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
select:focus ~ .bar:before, select:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100px;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
select:focus ~ .highlight {
  -webkit-animation:selectHighlighter 0.3s ease;
  -moz-animation:selectHighlighter 0.3s ease;
  animation:selectHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes selectHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes selectHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}
@keyframes selectHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}


</style>

<font face="roboto">
<div style="background:#ffffff; padding:20px;">

        <form method="post" action="/editProfileCheck" name='event'>
          <div class="group">
      <input    style="color:#4489c8;"  type='text' placeholder="First Name"    name='firstName'/>
      <span class="highlight"></span>
      <span class="bar"></span>
      </div>   <div class="group">
    <input  style="color:#4489c8;" type='text' placeholder="Last Name"  name='lastName'><span class="highlight"></span>
    <span class="bar"></span>
    </div>  <span class="highlight"></span>
      <span class="bar"></span>

    <input type='text' placeholder="User Id"  name='userId' style="visibility:collapse;z-index:-5;position:fixed;">
      <div class="group"  style="background:#e7f0f9; padding:10px; font-weight:450; "> <font size="4" color="#4489c8">
        <span id="demo"  >  </span> (User id is Permanent)</font></div>

      <div class="group">
<input  style="color:#4489c8;" type='password' placeholder="Password" onclick="changePassword()" name='password'>  <span class="highlight"></span>
  <span class="bar"></span>
  </div>  <div class="group">
    <input  style="color:#4489c8;" type='password' placeholder="Retype above Password"  name='confirmPassword'><br>
    <span class="highlight"></span>
    <span class="bar"></span>
    </div>   <div class="group">
    <select name ="semester" >
  <option>Choose Semester</option>
  <option>First Semester</option>
  <option>Second Semester </option>
  <option>Third Semester</option>
  <option>Fourth Semester</option>
  <option>Fifth Semester</option>
  <option>Sixth and Above Semesters</option>
      </select><span class="highlight"></span>
      <span class="bar"></span>
      </div>   <div class="group">
  <select  name ="department" id ="department" onchange="clickDepartment()" onclick="clickDepartment()">
      <option >Choose Department</option>

  <option>Art</option>
  <option>Commerce</option>
  <option>Management</option>
  <option>Education</option>
  <option>Science</option>
  <option>Other</option>
      </select><span class="highlight"></span>
      <span class="bar"></span>
      </div>   <div class="group">


  <select name ="className"  id ="className" onclick="clickClassName()" onchange="clickClassName()">
      <option>Choose Class</option>
  </select>
  <span class="highlight"></span>
  <span class="bar"></span>
  </div>   <div class="group">
  <select name ="section" id ="section"  onclick="clickSection()" onchange="clickSection()" >
      <option>Choose Section</option>
  </select><span class="highlight"></span>
  <span class="bar"></span>
  </div>   <div class="group">
    <input  style="color:#4489c8;" type='text' placeholder="Email Address"    name='emailAddress'/><br>
    <span class="highlight"></span>
    <span class="bar"></span>
    </div>   <div class="group">
      <input  style="color:#4489c8;" type='number' placeholder="Phone No."    name='phoneNo'/><br><span class="highlight"></span>
      <span class="bar"></span>
      </div>   <div class="group">
    <font size="2" color="#4489c8">  Type your current password to confirm changes: </font>
<input  style="color:#4489c8;" type='password' placeholder="Current Password"  name='currentPassword' onpaste="return false;"/><br><span class="highlight"></span>
<span class="bar"></span>
</div>   <div class="group">
<input type='text' name='cataegoryTextName'   id='cataegoryStringText'  style="visibility:collapse;" >
<input type="button" value="Submit"  onclick="check()"  style="background: linear-gradient(0deg, #15446e, #408bce); color:#FFFFFF;"     >

            <input type="submit" value="Submit" id='hangoutButtonId'  style="visibility:collapse;"   >
        </form>
        <br><br>
      <span class="mdl-list__item-secondary-action" style="position:relative; ">

        <button  class="mdl-button mdl-js-button mdl-button--raised
                       mdl-js-ripple-effect mdl-button--colored"
                rel="editUserId" type="button" id='create'  style="position:relative;visibility:collapse;">Create</button>
                <button  class="mdl-button mdl-js-button mdl-button--raised
                               mdl-js-ripple-effect mdl-button--colored"
                        rel="getDataForUserId" type="button" id='getData'  style="position:relative;visibility:collapse;">Create</button>


</font></div>


<script>


function changePassword()
{

  document.event.confirmPassword.value = '';
}
function clickDepartment()
{


  var skillsSelect = document.getElementById("department");
  var department = skillsSelect.options[skillsSelect.selectedIndex].text;


  var classDataString = '{{classData}}';
  classDataString = classDataString.replace(/&quot;/g, '"');
  var classData = JSON.parse(classDataString);

  var sel = document.getElementById('className');
  // sel = skillsSelect;




function removeOptions(sel)
{
    var i;
    for(i = sel.options.length - 1 ; i >= 0 ; i--)
    {
        sel.remove(i);
    }
}


//using the function:
removeOptions(document.getElementById("className"));
removeOptions(document.getElementById("section"));

  var sectionSel = document.getElementById('section');
var opt = document.createElement('option');
opt.innerHTML = 'Choose Section';
opt.value =  'Choose Section';
sectionSel.appendChild(opt);

var opt = document.createElement('option');
opt.innerHTML = 'Choose Class';
opt.value =  'Choose Class';
sel.appendChild(opt);

  for(var i = 0; i < classData.length; i++) {


      var opt = document.createElement('option');
      var loadedUserId = localStorage.getItem("userId");
      if(classData[i].department == department)
      {

        opt.innerHTML = classData[i].className;
        opt.value = classData[i].className;
        sel.appendChild(opt);
      }

    }

}


var userIdDataString = '{{userIdData}}';
userIdDataString = userIdDataString.replace(/&quot;/g, '"');
var userIdData = JSON.parse(userIdDataString);



function clickClassName()
{

  var deptName = document.getElementById("department").value;

if(!deptName.includes('Choose'))
{


  var sectionDataString = '{{sectionData}}';
  sectionDataString = sectionDataString.replace(/&quot;/g, '"');
  var sectionData = JSON.parse(sectionDataString);

  var skillsSelect = document.getElementById("className");
  var className = skillsSelect.options[skillsSelect.selectedIndex].text;

    var sel = document.getElementById('section');

    function removeOptions(sel)
    {
        var i;
        for(i = sel.options.length - 1 ; i >= 0 ; i--)
        {
            sel.remove(i);
        }
    }
    //using the function:
    removeOptions(document.getElementById("section"));

    var opt = document.createElement('option');
    opt.innerHTML = 'Choose Section';
    opt.value =  'Choose Section';
    sel.appendChild(opt);


    for(var i = 0; i < sectionData.length; i++) {


        var opt = document.createElement('option');
      if(sectionData[i].className == className)
      {

        opt.innerHTML = sectionData[i].section;
        opt.value = sectionData[i].section;
        sel.appendChild(opt);
      }
    }


}else{
  alert('First Choose a department');
}

}
function clickSection()
{
  var sectName = document.getElementById("className").value;

if(sectName.includes('Choose'))
{
    alert('First Choose a Class');
}

}

$('button.reset').click(
    function () {
        $(this).prevAll('input').val(function(){
            switch (this.type){
                case 'text':
                    return this.defaultValue;
                case 'checkbox':
                case 'radio':
                    this.checked = this.defaultChecked;
            }
        });
    });

</script>

<script>
var loadedFirstName = localStorage.getItem("firstName");
var loadedLastName = localStorage.getItem("lastname");
var loadedUserId = localStorage.getItem("userId");
var loadedPassword = localStorage.getItem("password");
var loadedSemester = localStorage.getItem("semester");
var loadedDepartment = localStorage.getItem("department");
var loadedClassName = localStorage.getItem("className");
var loadedSection = localStorage.getItem("section");
var loadedEmailAddress = localStorage.getItem("emailAddress");
var loadedPhoneNo = localStorage.getItem("phoneNo");

 document.getElementById("demo").innerHTML = loadedUserId;



document.event.firstName.value  =   loadedFirstName;
document.event.lastName.value = loadedLastName;
document.event.userId.value = loadedUserId;
document.event.password.value = loadedPassword;
document.event.semester.value = loadedSemester;
document.event.confirmPassword.value = loadedPassword;
// document.event.department.value = loadedDepartment
// document.event.className.value = loadedClassName
// document.event.section.value = loadedSection
document.event.emailAddress.value = loadedEmailAddress;
document.event.phoneNo.value = loadedPhoneNo;
</script>

<script>








function check()
{









var firstName = document.event.firstName.value;

var lastName = document.event.lastName.value;

var userId = document.event.userId.value;

var password = document.event.password.value;

var confirmPassword = document.event.confirmPassword.value;

var semester = document.event.semester.value;

var department = document.event.department.value;

var className = document.event.className.value;

var section = document.event.section.value;

var emailAddress = document.event.emailAddress.value;

var phoneNo = document.event.phoneNo.value;

var loadedPassword = localStorage.getItem("password");

var currentPassword = document.event.currentPassword.value;














if(firstName.length < 1)
{

  alert('Enter First Name');
}
else if (lastName.length < 1) {
    alert('Enter Last Name');
}else if (userId.length < 1) {
    alert('Enter User Id');
}else if (userId.length < 6) {
    alert('Minimum size of User Id is 6 characters');
}else if (password.length < 1) {
    alert('Enter Password');
}else if (password.length < 8 ) {
    alert('Minimum size of Password is 8 Characters');
}else if(password != confirmPassword)
{
    alert('Passwords do not match ');
}else if(semester.includes('Choose'))
{
  alert('Choose a Semester');
}
else if(department.includes('Choose'))
{
  alert('Choose a Department');
}
else if(className.includes('Choose'))
{
  alert('Choose a Class');
}else if(section.includes('Choose'))
{
  alert('Choose a Section');
}else if (emailAddress.length < 1) {
    alert('Enter Email Address');
}else if (!emailAddress.includes('@')) {
    alert('Invalid Email');
}else if (!emailAddress.includes('.')) {
    alert('Invalid Email');
}else if (phoneNo.length < 10) {
    alert('Enter Valid Phone No');
}







else{
var semesterString;
  if(semester == 'First Semester')
  {
    semesterString = '1';
  }
  else if(semester == 'Second Semester')
  {
    semesterString = '2';
  }
  else if(semester == 'Third Semester')
  {
    semesterString = '3';
  }
  else if(semester == 'Fourth Semester')
  {
    semesterString = '4';
  }
  else if(semester == 'Fifth Semester')
  {
    semesterString = '5';
  }
  else if(semester == 'Sixth and Above Semesters')
  {
    semesterString = '6';
  }

  document.getElementById('cataegoryStringText').value = semesterString;

  if(loadedPassword == currentPassword)
  {

  var userId = document.event.userId.value;
  var idExists = false;
  for(i = 0;i<userIdData.length;i++)
  {
    if(userIdData[i].userId == userId)
    {
      idExists = true;
      if(userId == loadedUserId)
      {
        idExists = false;
      }
    }

  }

//Saving Data using Html Web Storage
if(!idExists)
{
  if (typeof(Storage) !== "undefined") {
      // Code for localStorage/sessionStorage.
      var fullName = firstName.concat(" " + lastName )
      localStorage.setItem("fullName", fullName );
      localStorage.setItem("userId", userId);
      localStorage.setItem("password", password);
      localStorage.setItem("semester", semester);
      localStorage.setItem("department", department);
      localStorage.setItem("className", className);
      localStorage.setItem("section", section);
      localStorage.setItem("emailAddress", emailAddress);
      localStorage.setItem("phoneNo", phoneNo);





  } else {
      // Sorry! No Web Storage support..
        document.write('Your phone is not compatible with app');
  }
}

if(!idExists)
{



    document.getElementById('hangoutButtonId').click();

    var delayInMilliseconds = 1000; //0.01 second



    setTimeout(function() {

      document.getElementById('create').click();
           window.location.href = "/annonuncementViewerPage";
    }, delayInMilliseconds);

}else{
  alert('Id already taken');
}


}else {
  alert('Password entered in the current password field is incorrect.')
}

}







}




</script>

<script>



  var delayInMilliseconds = 2000; //1 second

  setTimeout(function() {

    document.getElementById('getData').click();
  }, delayInMilliseconds);

</script>
