<!--
  Copyright 2016 Google, Inc.

  Licensed to the Apache Software Foundation (ASF) under one or more contributor
  license agreements. See the NOTICE file distributed with this work for
  additional information regarding copyright ownership. The ASF licenses this
  file to you under the Apache License, Version 2.0 (the "License"); you may not
  use this file except in compliance with the License. You may obtain a copy of
  the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS, WITHOUT
  WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the
  License for the specific language governing permissions and limitations under
  the License.
-->

<style>

::placeholder {
    color: #4489c8;
    opacity: 1; /* Firefox */
}

* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
body 				 { background:url(https://scotch.io/wp-content/uploads/2014/07/61.jpg); }

h2 		 {
  text-align:center;
  margin-bottom:50px;
}
h2 small {
  font-weight:normal;
  color:#888;
  display:block;
}
.footer 	{ text-align:center; }
.footer a  { color:#53B2C8; }

/* form starting stylings ------------------------------- */
.group 			  {
  position:relative;
  margin-bottom:45px;
}
input 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;

  font-weight:450;
  color:#4489c8;

}
input:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#3f8acd;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:100%; }
.bar:before, .bar:after 	{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#3f8acd;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.bar:before {
  left:50%;
}
.bar:after {
  right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:60%;
  width:100%;
  top:25%;
  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}

textarea 				{
  font-size:18px;
  padding:10px 10px 10px 5px;
  width:100%;
  border:none;
  border-bottom:1px solid #757575;
}
textarea:focus 		{ outline:none; }

/* LABEL ======================================= */
label 				 {
  color:#999;
  font-size:18px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

/* active state */
textarea:focus ~ label, textarea:valid ~ label 		{
  top:-20px;
  font-size:14px;
  color:#3f8acd;
}

/* BOTTOM BARS ================================= */
.tbar 	{ position:relative; display:block; width:100%; }
.tbar:before, .tbar:after 	{
  content:'';
  height:5px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#3f8acd;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}
.tbar:before {
  left:50%;
}
.tbar:after {
  right:50%;
}

/* active state */
textarea:focus ~ .tbar:before, textarea:focus ~ .tbar:after {
  width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
  position:absolute;
  height:100%;


  left:0;
  pointer-events:none;
  opacity:0.5;
}

/* active state */
textarea:focus ~ .highlight {
  -webkit-animation:textareaHighlighter 0.3s ease;
  -moz-animation:textareaHighlighter 0.3s ease;
  animation:textareaHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes textareaHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes textareaHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}
@keyframes textareaHighlighter {
	from { background:#3f8acd; }
  to 	{ width:0; background:transparent; }
}


</style>


<font face="roboto">
<div style="background:#ffffff; padding:20px;">
        <form method="post" action="/notesWriteCheck" name='event'>



              <div class="group">
                    <input   type='text' placeholder="Concept" name='eventTitle'  id="mySelect"   required>
                <span class="highlight"></span>
                <span class="bar"></span>

                </div>
                <div class="group">
                      <textarea name='eventDesc'  id="mySelect" placeholder="Notes" ></textarea> <span class="highlight"></span>
                  <span class="tbar"></span>

                </div>
                    <div class="group">
                    <input type='password' placeholder="Confirm Password" name='pass_check'  id="mySelect">  <span class="highlight"></span>
                <span class="bar"></span>

                </div>
    <br> <font color="#3f8acd">
    <b>
    Department(s) Concerned:<br><br>
    <input type="checkbox"  name="department0" value="Art"  style="width:auto; " id="mySelect">Art<br><br>
    <input type="checkbox" name="department1" value="Commerce"  style="width:auto;" id="mySelect">Commerce<br><br>
    <input type="checkbox" name="department2" value="Management" style="width:auto;" id="mySelect">Management<br><br>
    <input type="checkbox" name="department3" value="Education" style="width:auto;" id="mySelect">Education<br><br>
    <input type="checkbox" name="department4" value="Science" style="width:auto;" id="mySelect">Science<br><br>
    <input type="checkbox" name="department5" value="Other" style="width:auto;" id="mySelect">Other<br><br>

    <br>


    Semesters(s) Concerned:<br><br>
    <input type="checkbox" name="semester0" value="First Semester" style="width:auto;" id="mySelect">First Semester<br><br>
    <input type="checkbox" name="semester1" value="Second Semester" style="width:auto;"style="width:auto;"  id="mySelect">Second Semester<br><br>
    <input type="checkbox" name="semester2" value="Third Semester"  style="width:auto;" id="mySelect">Third Semester<br><br>
    <input type="checkbox" name="semester3" value="Fourth Semester" style="width:auto;" id="mySelect">Fourth Semester<br><br>
    <input type="checkbox" name="semester4" value="Fifth Semester" style="width:auto;" id="mySelect">Fifth Semester<br><br>
    <input type="checkbox" name="semester5" value="Sixth and Above Semesters" style="width:auto;" id="mySelect">Sixth and Above Semesters<br><br>

    <br>

      <input type='text' name='cataegoryTextName' value='false'  id='cataegoryStringText'  style="visibility:collapse; height:0px;" >
  <input type='text' name='todayTextName' value='false'  id='todayDateText'   style="visibility:collapse; height:0px; width:0;" >
<input type="button" value="SUBMIT"  onclick="check()" style="background: linear-gradient(0deg, #15446e, #408bce); color:#FFFFFF;"    >

            <input type="submit" value="Submit" id='hangoutButtonId'  style="visibility:collapse;"   >

        </form>

      <span class="mdl-list__item-secondary-action" style="position:relative; ">

        <button  class="mdl-button mdl-js-button mdl-button--raised
                       mdl-js-ripple-effect mdl-button--colored"
                rel="writeNotes" type="button" id='create' style="position:relative; visibility:collapse;">Create</button>

              </div>
              </font>

<script>
var isSemesterChecked;
var isDepartmentChecked;
var cataegoryString = 'All Departments All Semesters';
function concatCataegoryString()
{

             var semester = ['1'];
             semester.pop('1');

  if(document.event.semester0.checked)
  {
     semester.push(document.event.semester0.value);
  isSemesterChecked = true;
  }
  if(document.event.semester1.checked)
  {
     semester.push(document.event.semester1.value);
  isSemesterChecked = true;
  }
  if(document.event.semester2.checked)
  {
    semester.push(document.event.semester2.value);
  isSemesterChecked = true;
  }
  if(document.event.semester3.checked)
  {
    semester.push(document.event.semester3.value);
  isSemesterChecked = true;
  }
  if(document.event.semester4.checked)
  {
    semester.push(document.event.semester4.value);
  isSemesterChecked = true;
  }
  if(document.event.semester5.checked)
  {
    semester.push(document.event.semester5.value);
  isSemesterChecked = true;
  }




  var semesterString = 'All Semesters'.concat(semester);

  var department = ['1'];
  department.pop('1');



  if(document.event.department0.checked)
  {
      department.push(document.event.department0.value);
isDepartmentChecked = true;
  }
  if(document.event.department1.checked)
  {
      department.push(document.event.department1.value);
isDepartmentChecked = true;
  }
  if(document.event.department2.checked)
  {
      department.push(document.event.department2.value);
isDepartmentChecked = true;
  }
  if(document.event.department3.checked)
  {
      department.push(document.event.department3.value);
isDepartmentChecked = true;
  }
  if(document.event.department4.checked)
  {
      department.push(document.event.department4.value);
isDepartmentChecked = true;
  }
  if(document.event.department5.checked)
  {
      department.push(document.event.department5.value);
isDepartmentChecked = true;
  }






    if(!department)
    {
      // alert('Choose Atleast one Department');
    }
    else if(1<department.length){
    for(i=0;i<=department.length - 1;i++)
    {
      cataegoryString = cataegoryString.concat(department[i]);
    }
    }else {
      cataegoryString = cataegoryString.concat(department);
    }

  if(!semester)
  {
    // alert('Choose Atleast one Semester');
  }
  else if(1<semester.length){
  for(i=0;i<=semester.length - 1;i++)
  {
    cataegoryString = cataegoryString.concat(semester[i]);
  }
  }else {
    cataegoryString = cataegoryString.concat(semester);
  }





}



function check()
{




var title = document.event.eventTitle.value;

var desc = document.event.eventDesc.value;



var pass_check = document.event.pass_check.value;


  var today = new Date();
  var dd = today.getDate();
  var mm = today.getMonth()+1; //January is 0!

  var yyyy = today.getFullYear();
  if(dd<10){
  dd='0'+dd;
  }
  if(mm<10){
  mm='0'+mm;
  }
  var today = dd+'/'+mm+'/'+yyyy;




concatCataegoryString();









if(title.length < 1)
{


  alert('Enter the Event Title.');
}
else if (desc.length < 1) {
    alert('Enter the Event Description.');
}
else if (pass_check.length < 1) {
    alert('Confirm the password.');
}






else if (!isDepartmentChecked) {
  alert('Choose Atleast one Department')
}

else if (!isSemesterChecked) {
  alert('Choose Atleast one Semester');

}
else{

   document.getElementById('cataegoryStringText').value = cataegoryString;
   document.getElementById('todayDateText').value = today;




     document.getElementById('hangoutButtonId').click();

     var delayInMilliseconds = 10; //0.01 second

     setTimeout(function() {

       document.getElementById('create').click();
            window.location.href = "/notesViewerPage";
     }, delayInMilliseconds);




}







}




</script>
